@model CharlesMyHousing.ViewModels.SearchViewModel

@{
    ViewBag.Title = "SearchViewPage";
}

<h2>Enter your search conditions in the following form:</h2>
@using (Html.BeginForm("SearchResultListViewPage", "Search")) 
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.Location)
                        @Html.DropDownListFor(m => m.SearchCondition.Location, new SelectList(Model.LocationList, "SearchOptionId", "ItemName"), "Select your house location", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.HouseType)
                        @Html.DropDownListFor(m => m.SearchCondition.HouseType, new SelectList(Model.HouseTypeList, "SearchOptionId", "ItemName"), "Select your house type", new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.BedroomFrom)
                        @Html.DropDownListFor(m => m.SearchCondition.BedroomFrom, new SelectList(Model.SelectListItems, "Value", "Text"), "Enter minimum bedroom number", new { @class = "form-control"})
                    </div>    
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.BedroomTo)
                        @Html.DropDownListFor(m => m.SearchCondition.BedroomTo, new SelectList(Model.SelectListItems, "Value", "Text"), "Enter maximum bedroom number", new { @class = "form-control"})
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.BathroomFrom)
                        @Html.DropDownListFor(m => m.SearchCondition.BathroomFrom, new SelectList(Model.SelectListItems, "Value", "Text"), "Enter minimum bathroom number", new { @class = "form-control" })
                    </div>    
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.BathroomTo)
                        @Html.DropDownListFor(m => m.SearchCondition.BathroomTo, new SelectList(Model.SelectListItems, "Value", "Text"), "Enter maximum bathroom number", new { @class = "form-control" })
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.PriceFrom)
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBoxFor(m => m.SearchCondition.PriceFrom, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.SearchCondition.PriceFrom, "", new { @class = "text-danger" })
                    </div>   
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.PriceTo)
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBoxFor(m => m.SearchCondition.PriceTo, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.SearchCondition.PriceTo, "", new { @class = "text-danger" })
                    </div> 
                </div>
                
                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.SearchCondition.CarparkOk) Carpark available
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.SearchCondition.PetOk) Pets allowed
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" name="actionButton" value="btnSearch">Search</button>
        </div>
    </div>
}
