@model CharlesMyHousing.ViewModels.SearchViewModel

@{
    ViewBag.Title = "SearchViewPage";
}

<h2>Enter your search conditions in the following form:</h2>
@using (Html.BeginForm("SearchViewPage", "Search")) //TODO: change SearchViewPage action
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor( m => m.SearchCondition.Location )
                        @* just an example for textbox *@
                        @Html.TextBoxFor(m => m.SearchCondition.Location, new { @class="form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.HouseType)
                        @* TODO: bug here. Reason: database design problems *@
                        @* @Html.DropDownListFor(m => m.SearchCondition.HouseType, new SelectList(Model.SearchCondition.HouseTypeList, "SearchOptionId", "ItemName"), "Select your house type", new { @class = "form-control" }) *@
                        @Html.TextBoxFor(m => m.SearchCondition.HouseType, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.BedroomFrom)
                        @Html.DropDownListFor(m => m.SearchCondition.BedroomFrom, new SelectList(Model.SelectListItems, "Value", "Text"), "Enter minimum bedroom number", new { @class = "form-control"})
                    </div>    
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.BedroomTo)
                        @Html.DropDownListFor(m => m.SearchCondition.BedroomTo, new SelectList(Model.SelectListItems, "Value", "Text"), "Enter maximum bedroom number", new { @class = "form-control"})
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.BathroomFrom)
                        @Html.DropDownListFor(m => m.SearchCondition.BathroomFrom, new SelectList(Model.SelectListItems, "Value", "Text"), "Enter minimum bathroom number", new { @class = "form-control" })
                    </div>    
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchCondition.BathroomTo)
                        @Html.DropDownListFor(m => m.SearchCondition.BathroomTo, new SelectList(Model.SelectListItems, "Value", "Text"), "Enter maximum bathroom number", new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.SearchCondition.CarparkOk) Carpark available
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.SearchCondition.PetOk) Pets allowed
                        </label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="price_from" class="control-label">Price (from)</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBoxFor(m => m.SearchCondition.PriceFrom, new { @class = "form-control", id = "price_from" })
                        </div>
                        @* TODO: why not above *@
                        @Html.ValidationMessageFor(m => m.SearchCondition.PriceFrom, "", new { @class = "text-danger" })
                    </div>   
                    <div class="form-group">
                        <label for="price_to" class="control-label">Price (to)</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBoxFor(m => m.SearchCondition.PriceTo, new { @class = "form-control", id = "price_to" })
                        </div>
                        @* TODO: why not above *@
                        @Html.ValidationMessageFor(m => m.SearchCondition.PriceTo, "", new { @class = "text-danger" })
                    </div> 
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" name="action_btn" value="btnSearch">Search</button>
        </div>
    </div>
}
